body{
    width: 100%;
    height: 100vh;
    background-color: white;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;

    position: relative;
    gap:150px;
}

.box{
    width: 100px;
    height: 100px;
    border-radius: 5%;
} 

.box:nth-child(1) { background:blueviolet;}  
.box:nth-child(2) { background: red; }  
.box:nth-child(3) { background: orange }  
.box:nth-child(4) {
    display: flex;
    position: relative;
    justify-content: center; 
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 5%;
    
    }
.box:nth-child(5) {background-color: #f5de14;}
.box:nth-child(6) { background:green; }
.box:nth-child(7) { background:aquamarine; }


.square{
    background: #7b08ff;
    position: absolute;
    z-index: 5;
    width: 100px;
    height: 100px;
    border-radius: 5%;
}



.square1 {
    background: #f5de14;
    position: absolute;
    width: 200px;
    height: 200px;
    z-index: -5;
    border-radius: 5%;
}

.square2 {
    background: #ff3b3b;
    position: absolute;
    width: 100px;
    height: 200px;
    left: 60%;
    z-index: -4;
    border-radius: 5%;
}


.square3 {
    background: #0004ff;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 55%;
    left: 56%;
    z-index: -3;
    border-radius: 5%;
}

.square4 {
    background: #00ffd5b2;
    position: absolute;
    width: 100px;
    height: 100px;
    top:55%;
    left:-223%;
    z-index: -2;
    border-radius: 5%;
}